server:
 port: 8083

spring:
  application:
    name: user-service
  mongodb:
    uri: mongodb://localhost:27017/user_db

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
