server:
 port: 8080

spring:
  application:
    name: auth-service
  mongodb:
    uri:  mongodb://localhost:27017/auth_db
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

jwt:
  secret: "mysupersecretkeymysupersecretkey123456" 
  expiration: 86400000 